<div id="ingredientName">@ViewBag.ingredientName</div>

<form action="potions/get" method="post">
    <input type="submit" value="Get values" />
    <input type="button" value="Cancel" onclick="window.history.back()" />
    <input type="hidden" value="@ViewBag.ingredientName" />
</form>
